.TopNav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
}

.SearchBox {
  display: flex;
  position: fixed;
  left: 0;
  align-items: center;
  width: 18rem;
  height: 60px;
}

.SearchBar {
  display: flex;
  background-color: rgb(199, 199, 199);
  align-items: center;
  border-radius: 100px;
  position: fixed;
  margin-left: 2rem;
  z-index: 2;
}

.SearchBar > :nth-child(1) {
  margin-left: 10px;
  margin-right: 2px;
  z-index: 2;
}

.SearchBar > input {
  border-radius: 100px;
  height: 2rem;
  border: 0;
  background-color: rgb(199, 199, 199);
  z-index:2;
}

.textBrakWyszukiwan{
  position: fixed;
  z-index: 1;
  opacity: 0;
  top:-60px;
  left:0;
  height:120px;
  background-color: white;
  width: 250px;
  transition: top 0.2s;
  box-shadow: 4px 4px 10px dimgray;
  border-bottom-right-radius: 5px;
}

.textBrakWyszukiwan > b {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: -4rem;
}

.input:focus ~.textBrakWyszukiwan{
  top: 0;
  opacity: 1;
}

.input:focus.SearchBox {
  box-shadow: 4px 4px 10px dimgray;
  border-bottom-right-radius: 5px
}

.TopNavChild {
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.TopNavChild > * > input {
  visibility: hidden;
}

input:checked~label {
  color: #4747f0;
}

label {
  text-align: center;
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-right: auto;
  padding-left: auto;
  height: 2.5rem;
  width: 4rem;
  transition: 0.2s;
}

label:hover{
  background-color: rgb(176, 191, 194);
}

.Icon {
  margin: 0 10px;
  cursor: pointer;
}

.LeftNav {
  position: fixed;
  flex-direction: column;
  width: 25vw;
  left: 0;
  top: 60px;
  bottom: 0;
  padding: 15px;
}

.Icon2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 1.8rem;
  margin-right: 5px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.LeftNavStore {
  transition: 0.2s;
  padding-left: 0.5rem;
  border-radius: 1rem;
}

.LeftNavStore:hover {
  background-color: rgb(176, 191, 194);
}

.LeftNavStore > :nth-child(1) {
  color: #4747f0;
}

.LeftNav > * {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.2s;
  padding-left: 0.5rem;
  border-radius: 1rem;
}

.fa-facebook-messenger {
  color: #4747f0;
}

.fa-font-awesome-flag {
  color: #d17710;
}

.CenterContent {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: 60px;
  padding: 15px calc(25vw + 30px) 100px calc(25vw + 30px);
}

.CenterContent > * {
  display: flex;
  flex-direction: column;
  margin: 11px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  padding: 30px;
}

.CenterContent > :first-child {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 69px;
  background-color: white;
  box-shadow: 2px 2px 10px rgb(156, 156, 156);
  padding: 20px 30px;
}

.CenterContentFFChild > div {
  margin: auto 0;
}

.CenterContentFFChild {
  display: flex;
  height: 50%;
  margin: auto 0;
}

.CenterContentFFChild > input {
  border: 0;
  border-radius: 30px;
  background-color: rgb(211, 211, 211);
  height: 2rem;
  width: 28vw;
  margin-left: 1vw;
  padding-left: 20px;
}

.CenterContentFSChild {
  display: flex;
  height: 50%;
  padding: auto;
}

.CenterContentFSChild > * {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1vw;
  width: 33.3%;
  height: auto;
  transition: 0.2s;
  border-radius: 0.5rem;
  cursor: pointer;
}

.CenterContentFSChild > :nth-child(1) > i {
  color: red;
  margin-right: 5%;
}

.fa-images {
  color: rgb(20, 228, 20);
  margin-right: 5%;
}

.fa-smile {
  color: rgb(255, 166, 0);
  margin-right: 5%;
}

.Post1 {
  display: flex;
  justify-content: center;
  width: 75%;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 2px 2px 10px rgb(156, 156, 156);
}

.Name {
  margin-left: 1.5rem;
}

.minutes {
  margin-left: 1.5rem;
}

.Post1 > :first-child {
  display: flex;
}

.Post1 > :nth-child(2) {
  padding-top: 20px;
}

.Post1 > :nth-child(4) {
  display: flex;
  padding-top: 20px;
  bottom: 0;
}

.IconCenter {
  margin-top: 10.5px;
}

.Post1 > :nth-child(4) > div {
  margin-top: 7px;
}

.Post1 > :nth-child(4) > input {
  border: 0;
  border-radius: 30px;
  background-color: rgb(211, 211, 211);
  height: 2rem;
  width: 28vw;
  margin-left: 1rem;
  padding-left: 20px;
}

.LikeAndComm {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LikeAndComm > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  height: 2rem;
  width: 50%;
  transition: 0.2s;
  border-radius: 0.5rem;
  cursor: pointer;
}

.LikeAndComm > * > i {
  color: rgb(145, 145, 145);
  margin-right: 0.2rem;
}

.IconCenter {
  font-size: 1.2rem;
}

.RightNav {
  position: fixed;
  flex-direction: column;
  width: 20vw;
  right: 0;
  top: 60px;
  bottom: 0;
  padding: 15px;
}

.RightNav > :first-child {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 1.2rem;
}

.RightNavTopIcons {
  display: flex;
  margin-left: auto;
}

.RightNavTopIcons > * {
  margin-left: 7px;
}

.scroll {
  height: 92%;
  overflow: auto;
}

.scroll > * {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  padding-left: 0.5rem;
  border-radius: 1rem;
}

.IconsAnimation:hover {
  background-color: rgb(174, 182, 197);
}

.RightNavBottom > * > input{
  visibility: hidden;
}

.RightNavBottom > * > input:checked ~ .Messenger{
  bottom: 0rem;
}

.RightNavBottom > * > input:not(:checked) ~ .Messenger{
  bottom: -22rem;
}

.RightNavBottom {
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column-reverse;
  width: 3rem;
  right: 0;
  bottom: 0;
}

#messUserIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 1.8rem;
  margin-right: 5px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 2px 2px 10px gray;
  transition: 0.2s;
}

#messUserIcon:hover {
  background-color: rgb(174, 182, 197)
}

#messTimesIcon:hover{
  background-color: inherit;
}

#messTimesIcon{
  margin-top: 1.1rem;
  margin-right: 1rem;
}

.RightNavBottom > :first-child {
  margin: 1rem;
  padding: 0 1rem 0.4rem 0;
}

.Messenger {
  position: fixed;
  background-color:white;
  height: 22rem;
  width: 20rem;
  right: 7vw;
  bottom: -22rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.messengerTopBar{
  position: absolute;
  top: 0rem;
  background-color: white;
  box-shadow: 0 2px 3px dimgray;
  width: 20rem;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.messengerTopBar > :nth-child(n+3){
  margin-left: 1.2rem;
  font-size: 1.2rem;
  color: rgb(4, 185, 185);
  cursor: pointer;
}

.nameAndActive{
  width: 5rem;
  height: 3.5rem;
  background-color: red;
  margin-left: 0.2rem;
}

.Name{
  width: 5rem;
  height: 2rem;
  top: 0;
  background-color:white;
  margin-left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Active{
  width: 5rem;
  height: 1.5rem;
  bottom: 0;
  background-color:white;
  margin-left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: auto;
}

.Active > :nth-child(1){
  margin-right: 0.5rem;
  color: rgb(2, 204, 2);
}


.bottomBar{
  position: absolute;
  bottom: 0rem;
  background-color: white;
  width: 20rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.bottomBar > :nth-child(-n+4){
  color: rgb(4, 185, 185);
  margin-left: 1rem;
  cursor: pointer;
}

.bottomBar > :nth-last-child(1){
  color: rgb(4, 185, 185);
  margin-left: 0.5rem;
  cursor: pointer;
}

.messengerSearch{
  background-color: rgb(226, 220, 220);
  width: 9rem;
  height: 2rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.messengerSearch > :nth-last-child(1){
  position: fixed;
  bottom: 0.7rem;
  margin-left: 7.5rem;
  color: rgb(4, 185, 185);
  cursor: pointer;
}
.messengerInput{
  outline: none;
  border: none;
  width: 5rem;
  margin-left: 0.4rem;
  background-color:rgb(226, 220, 220) ;
}

.somebodyWritting{
  position: absolute;
  background-color: rgb(226, 220, 220) ;
  bottom: 3rem;
  right: 2.2rem;
  height: 1.5rem;
  width: 3rem;
  border-radius: 10px;
  opacity: 0;
}

.firstDot{
  position: absolute;
  bottom:0.55rem;
  left:0.6rem;
  width: 6px;
  height: 6px;
  background-color: rgb(112, 112, 112);
  border-radius: 100px;
  z-index: 1;
  animation-name: wavingDots;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.secondDot{
  position: absolute;
  bottom:0.55rem;
  left:1.3rem;
  width: 6px;
  height: 6px;
  background-color: rgb(112, 112, 112);
  border-radius: 100px;
  z-index: 1;
  animation-name: wavingDots;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.thirdDot{
  position: absolute;
  bottom:0.55rem;
  left:2rem;
  width: 6px;
  height: 6px;
  background-color: rgb(112, 112, 112);
  border-radius: 100px;
  z-index: 1;
  animation-name: wavingDots;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

@keyframes wavingDots{
  0%{
    bottom: 0.55rem;
  }
  50%{
    bottom:0.8rem;
  }
  100%{
    bottom:0.55rem;
  }
}

.messengerInput:focus + .somebodyWritting{
  opacity: 1;
}


.body {
  margin: 0;
  background-color: rgb(219, 223, 230);
}

.fa-user {
  color: rgb(145, 145, 145);
}

body {
  font-family: "Arsenal";
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0;
}

input {
  outline: none;
}